<html>
    <head>
        <link rel='stylesheet' type='text/css' href='/styles/style.css'>
    </head>

    <body>
        <h1>This is the home page!</h1>
        <img src='/images/node_express.png' />
        <img src="/images/node-express-image2.jpg" />
    </body>
</html>